*{
    margin: 0;
    padding: 0;
    color: white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
  }

  
  .body{
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orange; 
    /* border-radius: 10px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orange; 
  }
  .heading{
    text-align: center;
    height: 70px;
    /* margin-top: 10px; */
    font-size: 0.9rem;
  }
  @media screen and (max-width: 480px) {
    .heading{
        font-size: 0.7rem;
        max-height: 70px;
    }
}
  .img {
    height: 300px;
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
  }
  @media screen and (max-width: 480px) {
    .img{
        height: 200px;
        width: 150px;
        margin-top: 10px;
    }
}
  .center{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    /* padding: 2%; */
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 40px; */
    /* margin-bottom: 5px; */
    border-radius: 20px;
    /* border-bottom: 1px solid white; */
    /* border: 1px solid black; */
  }
  
  .grid-row{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    color: white;
   cursor: pointer;
  }

 @media screen and (max-width: 480px) {
        .grid-row{
            overflow-x: auto;
        }
    }
  .center:hover{
    transform: scale(1.1);
    padding: 20px;
  }
  
  input{
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    margin-right: 0px;
    color: black;
    height: 30px;
    width: 250px;
    font-size: 1.2rem;
    text-transform: lowercase;
    border: none;
    background-color: azure;
  }

  input:focus{
    background-color: white;
  }

  @media screen and (max-width: 480px) {
    input{
        width: 200px;
    }
}

  h1{
    margin-left: 10px;
    margin-top: 50px;
    border-bottom: 3px solid orange;
    padding-bottom: 10px;
    font-size: 1.4rem;
  }
  @media screen and (max-width: 480px) {
    h1{
        font-size: 1.2rem;
    }
}

  .none{
    display: none;
  }

.button-style{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: black;
    border-radius: 50%;
    float: right;
    margin: 10px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 20px;
    background-color: transparent;
    z-index: 100000;
}

.button{
    margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
    .button-style{
        height: 20px;
        width: 20px;
        margin: 5px;
    }
}
@media screen and (max-width: 480px) {
    .button{
        margin-bottom: 40px;
    }
}
.icon{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .icon{
        height: 20px;
        width: 20px;
    }
}

.footer{
  text-align: center;
  height: 50px;
  /* bottom: 0; */
}

.footer-text{
  font-size: 16px;
  margin-top: 200px;
}

@media screen and (max-width: 480px) {
    .footer-text{
      margin-top: 280px;
      font-size: 14px;
    }
}

.orange-text{
  color: orange;
  font-size: 1rem;
}
@media screen and (max-width: 480px) {
  .orange-text{
    font-size: 0.6rem;
    padding: 5px;
  }
}

.background::before{
  content: '';
  height: 55vh;
  min-width: 100%;
  background-size: cover;
  background-image: url(./images/wallpaperflare.com_wallpaper\ .jpg);
  position: absolute;
  /* background-repeat: no-repeat; */
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 20px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}
.background{
  position: relative; 
  height: 55vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search{
  position: relative;
}

.button-search{
  z-index: 1000000;
  background-color: transparent;
  /* margin-top: 24px; */
  border: none;
  height: 50px;
  width: 50px;
  color: black;
}

.search-icon{
  height: 55px;
  width: 40px;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(18, 18, 18, 1);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 480px){
  .search-icon{
    margin: 0;
    padding: 0;
    height: 45px;
    width: 35px;
  }
}
